# Artificial Neural Network (ANN) implementation

In [23]:
import numpy as np 
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Convolution2D
from keras.layers.convolutional import MaxPooling2D
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from keras import backend as K
from modules import *

In [2]:
train = pd.read_csv("../Data/Glottal.csv")

train.fillna(0, inplace=True)

In [3]:
train.head()

,sno,AQ_kurt,AQ_max,AQ_mean,AQ_median,AQ_min,AQ_skew,AQ_std,ClQ_kurt,ClQ_max,...,SQ1_std,SQ2_kurt,SQ2_max,SQ2_mean,SQ2_median,SQ2_min,SQ2_skew,SQ2_std,filename,label
0,0,-1.125019,0.001362,0.000734,0.000578,0.000025,0.399345,0.000339,-1.513942,0.635115,...,0.675402,0.308816,2.674824,1.157275,1.006275,0.075223,0.952797,0.536728,D21,1
1,1,0.000000,0.000273,0.000273,0.000273,0.000273,0.000000,0.000000,0.000000,0.212901,...,0.000000,0.000000,2.212919,2.212919,2.212919,2.212919,0.000000,0.000000,D41,1
2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,D62,1
3,3,-1.030347,0.001417,0.000791,0.000885,0.000069,-0.182928,0.000360,-0.023530,0.869753,...,1.185508,35.373686,8.356877,0.872556,0.715124,0.000000,5.312221,0.945553,D26,1
4,4,-0.485704,0.000403,0.000215,0.000237,0.000046,0.101187,0.000095,-0.931441,0.839397,...,2.236482,18.286592,6.931799,0.688371,0.341031,0.084272,4.242434,1.524225,D28,1

In [4]:
columns = train.columns.tolist()

features = [f for f in filter(lambda x: x not in ['sno','label', 'frameTime','filename'], columns)]
target = ['label']

feature_df = train[features]

X = np.asarray(feature_df.values)

y = np.asarray(train['label'].values)

In [5]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=4)

In [6]:

from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
y_train= label_encoder.fit_transform(y_train)

In [7]:
y_test = y_test.reshape(-1,1)
y_train = y_train.reshape(-1,1)

In [8]:
#initialising the Aritificial Neural Network
classifier = Sequential()

#adding the input layer and first hidden layer
classifier.add(Dense(output_dim = 6,init = 'uniform',activation = 'relu',input_dim=66))

#adding the second hidden layer
classifier.add(Dense(output_dim = 6,init = 'uniform',activation = 'relu'))

#adding the output layer
classifier.add(Dense(output_dim = 1,init = 'uniform',activation = 'sigmoid'))

#compling the Artificial neural network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=66, units=6, kernel_initializer="uniform")`
  """
C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()

In [9]:
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 10)

C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/10
181/181 [==============================] - 2s 10ms/step - loss: 0.6934 - acc: 0.4586
Epoch 2/10
181/181 [==============================] - 0s 413us/step - loss: 0.6916 - acc: 0.7348
Epoch 3/10
181/181 [==============================] - 0s 408us/step - loss: 0.6866 - acc: 0.8453
Epoch 4/10
181/181 [==============================] - 0s 391us/step - loss: 0.6712 - acc: 0.8453
Epoch 5/10
181/181 [==============================] - 0s 408us/step - loss: 0.6350 - acc: 0.8508
Epoch 6/10
181/181 [==============================] - 0s 441us/step - loss: 0.5749 - acc: 0.8508
Epoch 7/10
181/181 [==============================] - 0s 413us/step - loss: 0.4917 - acc: 0.8564
Epoch 8/10
181/181 [==============================] - 0s 397us/step - loss: 0.4124 - acc: 0.8785
Epoch 9/10
181/181 [==============================] - 0s 419us/step - loss: 0.3492 - acc: 0.9006
Epoch 10/10
181/181 [==============================] - 0s 441us/step - loss: 0.2892 - acc: 0.9337

In [21]:
X_test = np.reshape(X_test,(-1,66,1))
y_predict = model.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score
accuracyscore = accuracy_score(y_test, y_predict)
print(accuracyScore)

0.876

# Convolutional Neural Network (CNN) implementation

In [12]:
from modules import *
train = pd.read_csv("../Data/Glottal.csv")
train.fillna(0, inplace=True)

In [13]:
train.head()

,sno,AQ_kurt,AQ_max,AQ_mean,AQ_median,AQ_min,AQ_skew,AQ_std,ClQ_kurt,ClQ_max,...,SQ1_std,SQ2_kurt,SQ2_max,SQ2_mean,SQ2_median,SQ2_min,SQ2_skew,SQ2_std,filename,label
0,0,-1.125019,0.001362,0.000734,0.000578,0.000025,0.399345,0.000339,-1.513942,0.635115,...,0.675402,0.308816,2.674824,1.157275,1.006275,0.075223,0.952797,0.536728,D21,1
1,1,0.000000,0.000273,0.000273,0.000273,0.000273,0.000000,0.000000,0.000000,0.212901,...,0.000000,0.000000,2.212919,2.212919,2.212919,2.212919,0.000000,0.000000,D41,1
2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,D62,1
3,3,-1.030347,0.001417,0.000791,0.000885,0.000069,-0.182928,0.000360,-0.023530,0.869753,...,1.185508,35.373686,8.356877,0.872556,0.715124,0.000000,5.312221,0.945553,D26,1
4,4,-0.485704,0.000403,0.000215,0.000237,0.000046,0.101187,0.000095,-0.931441,0.839397,...,2.236482,18.286592,6.931799,0.688371,0.341031,0.084272,4.242434,1.524225,D28,1

In [14]:

columns = train.columns.tolist()

features = [f for f in filter(lambda x: x not in ['sno','label', 'frameTime','filename'], columns)]
target = ['label']

feature_df = train[features]

X = np.asarray(feature_df.values)

y = np.asarray(train['label'].values)

In [15]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

In [16]:
y_test = y_test.reshape(-1,1)
y_train = y_train.reshape(-1,1)

In [17]:
model = Sequential()
import keras
model.add(keras.layers.convolutional.Convolution1D(filters=2, kernel_size=2, 
activation='relu',input_shape=(66,1)))
model.add(keras.layers.convolutional.MaxPooling1D(pool_size=2))
model.add(keras.layers.convolutional.Convolution1D(15,kernel_size=2, activation= 'relu' ))
model.add(Dropout(0.5))
model.add(keras.layers.convolutional.MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(1, activation='softmax'))
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [18]:
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 10)

Epoch 1/10
141/141 [==============================] - 0s 1ms/step - loss: 0.2521 - acc: 0.9433
Epoch 2/10
120/141 [========================>.....] - ETA: 0s - loss: 0.2383 - acc: 0.9500

C:\Users\Ashwin Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

141/141 [==============================] - 0s 509us/step - loss: 0.2237 - acc: 0.9574
Epoch 3/10
141/141 [==============================] - 0s 467us/step - loss: 0.2004 - acc: 0.9645
Epoch 4/10
141/141 [==============================] - 0s 481us/step - loss: 0.1861 - acc: 0.9504
Epoch 5/10
141/141 [==============================] - 0s 446us/step - loss: 0.1674 - acc: 0.9645
Epoch 6/10
141/141 [==============================] - 0s 424us/step - loss: 0.1555 - acc: 0.9574
Epoch 7/10
141/141 [==============================] - 0s 439us/step - loss: 0.1454 - acc: 0.9574
Epoch 8/10
141/141 [==============================] - 0s 523us/step - loss: 0.1372 - acc: 0.9574
Epoch 9/10
141/141 [==============================] - 0s 445us/step - loss: 0.1318 - acc: 0.9574
Epoch 10/10
141/141 [==============================] - 0s 347us/step - loss: 0.1277 - acc: 0.9504

In [19]:
X_test = np.reshape(X_test,(-1,66,1))
y_predict = model.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score
accscore = accuracy_score(y_test, y_predict)
print(accScore)

0.862